extends layout

block content
  
	div(id='app')
		h1 {{title}}

		div
			input(type='text', v-model='ext', placeholder='Usuario')
			input(type='text', v-model='pass', placeholder='Contraseña')
			input(type='text', v-model='host', placeholder='Host')
		
		div
			input(type='text', v-model='newMember', placeholder='Nueva persona')
			input(type='button', value='Añadir', v-on:click='addMember')

		div
			ul
				li(v-for='(i, memberIndex) in info') {{ i.member }}
					input(type='button', value='Eliminar', v-on:click='removeMember(memberIndex)')
					ul
						div
							input(type='text', v-model='newCard.code')
							input(type='text', v-model='newCard.comment')
							input(type='button', value='Añadir', v-on:click='addCard(memberIndex)')
						li(v-for='(c, cardIndex) in i.cards') {{ c }} 
							input(type='button', value='Eliminar', v-on:click='removeCard(memberIndex, cardIndex)')
		input(type='button', value='Generar Acta', v-on:click='generarActa()')

	script.
		var app = new Vue({
			el:'#app',
			data: {
				ext: 'ext2165',
				pass: 'ext2165',
				host: 'jira.ico.red',
				title: 'Generador de Actas - ICO',
				newMember: '',
				newCard: {},
				info: []
			},
			methods: {
				addMember: function(){
					if(this.newMember != ''){
						var newInfo = {};
						newInfo.member = this.newMember;
						newInfo.cards = [];
						this.info.push(newInfo);
						this.newMember = '';
					}
				},
				addCard: function(memberIndex){
					if(this.newCard.code != undefined){
						this.info[memberIndex].cards.push(this.newCard);
						this.newCard = {};
					}
				},
				removeCard : function(memberIndex, cardIndex){
					this.info[memberIndex].cards.splice(cardIndex, 1);
				},
				removeMember : function(memberIndex){
					this.info.splice(memberIndex, 1);
				},
				generarActa : function(){
					axios.post('http://localhost:3000/getJirasInfo',{
						'user' : this.ext,
						'pass' : this.pass,
						'host' : this.host,
						'info' : this.info
					})
					.then(response => window.open('/download/'+response.data));
				}
			}
		})