extends layout

block content
  
	div(id='app', class='ui container')
		
		div(class='ui form')
			h1 {{title}}
			div(class='fields') 
				div(class='field ui input')
					input(type='text', v-model='ext', placeholder='Usuario')
				div(class='field ui input')
					input(type='password', v-model='pass', placeholder='Contraseña')
				div(class='field ui input')
					input(type='text', v-model='host', placeholder='Host')
			
			div(class='fields')
				div(class='field ui input')
					input(type='text', v-model='newMember', v-on:keyup.enter='addMember', placeholder='Nueva persona')
				div(class='field ui input')
					button(class='ui compact icon button', v-on:click='addMember')
						i(class='plus icon')

			div(class='ui relaxed list')
				transition-group(name='slide-fade', tag='div')
					div(class='item ui black segment', v-for='(i, memberIndex) in info', v-bind:key='i')
						//- i(class='help icon')
						div(class='content ico-cards') 
							div(class='header') 
								span {{ i.member }}
								button(class='ui compact icon black button right floated', v-on:click='removeMember(memberIndex)')
									i(class='remove icon')
							div(class='ui relaxed list')
								div(class='item')
									div(class='content')
										div(class='header fields')
											div(class='field ui input')
												input(type='text', placeholder='Código Jira', v-on:keyup.enter='addCard(memberIndex)', v-model='newCard.code')
											div(class='field ui input')
												input(type='text', class='comentario', placeholder='Comentario...', v-on:keyup.enter='addCard(memberIndex)', v-model='newCard.comment')
											div(class='field ui input')
												button(class='ui compact icon green basic button', v-on:click='addCard(memberIndex)')
													i(class='plus icon')
								div(class='item', v-for='(c, cardIndex) in i.cards', v-bind:key='c') 
									div(class='content')
										div(class='header fields')
											div(class='field ui disabled input')
												input(type='text', v-model='c.code')
											div(class='field ui disabled input')
												input(type='text', class='comentario', v-model='c.comment')
											div(class='field ui input')
												button(class='ui compact icon red basic button', v-on:click='removeCard(memberIndex, cardIndex)')
													i(class='remove icon' v-on:click='removeCard(memberIndex, cardIndex)')
			div(class='left floated')
				button(class='ui button', v-on:click='generarActa()') Generar Acta

	script.
		var app = new Vue({
			el:'#app',
			data: {
				ext: '',
				pass: '',
				host: '',
				title: 'Generador de Actas',
				newMember: '',
				newCard: {},
				info: []
			},
			methods: {
				addMember: function(){
					if(this.newMember != ''){
						var newInfo = {};
						newInfo.member = this.newMember;
						newInfo.cards = [];
						this.info.push(newInfo);
						this.newMember = '';
					}
				},
				addCard: function(memberIndex){
					if(this.newCard.code != undefined){
						this.info[memberIndex].cards.push(this.newCard);
						this.newCard = {};
						console.log(this.$refs);
					}
				},
				removeCard : function(memberIndex, cardIndex){
					this.info[memberIndex].cards.splice(cardIndex, 1);
				},
				removeMember : function(memberIndex){
					this.info.splice(memberIndex, 1);
				},
				generarActa : function(){
					axios.post('http://localhost:3000/getJirasInfo',{
						'user' : this.ext,
						'pass' : this.pass,
						'host' : this.host,
						'info' : this.info
					})
					.then(response => window.open('/download/'+response.data));
				}
			}
		})