doctype html
html
  head
    title='Actas'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    script(src='javascripts/jquery-3.1.0.js')
    script(src='javascripts/semantic.min.js')
    script(src='https://unpkg.com/vue@2.1.3/dist/vue.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css')
  body
    block content
